<!Doctype html>
{% load static %}
<html>
<head><link rel="stylesheet" type="text/css" href="{% static "dept.css" %}"></head>
<body>

<center><h1>Greetings!Select the Department</h1></center>

<div class="btn-group" style="width:80%">
  <form action="CSE/"><button style="width:33.3%">CSE</button><br><br></form>
  <form action="ECE/"><button style="width:33.3%">ECE</button><br><br></form>
  <form action="EEE/"><button style="width:33.3%">EEE</button><br><br></form>
  <!--<form action="APTITUDE/"><button style="width:33.3%">APTITUDE</button><br><br></form>-->
  <!--<form action="GK/"><button style="width:33.3%">GK</button><br><br></form>-->
</div>

</body>
</html>
