<!DOCTYPE html>
<html>
{% load static %}
<head><link rel="stylesheet" type="text/css" href="{% static "instruct.css" %}"> </head>
<body>

<center><h3>1.Every Question Has Time Limit</h3>
		<h3>2.Every Correct answer +1.0 mark</h3>
		<h3>3.Every Question Has Negative Marking of -0.25 for wrong answer</h3>
		<h3>4.No negative Marks for Unattempted questions</h3>
	    <h3>5.Think twice before you answer</h3>
	    <h3>6.Change of options is not allowed</h3>
	        <h3>---ALL THE BEST----</h3>
        <form action ="Exam/"><input type="submit" value="Begin Test"></form>
        </center>



</body>
</html>
