<!Doctype html>
{% load static %}
<html>
<head><link rel="stylesheet" type="text/css" href="{% static "welc.css" %}"></head>
<body>

<center><h1>Welcome! Select Here</h1></center>

<div class="btn-group" style="width:100%">
  <form action="adminlogin/"><button style="width:33.3%" >Admin</button></form><br><br>
  <form action="Facultylogin/"><button style="width:33.3%" >Faculty</button></form><br><br>
  <form action="Student/"><button style="width:33.3%" >Student</button></form>
</div>

</body>
</html>